<div class="pixel-info-popup-div"
     style="cursor: crosshair; pointer-events: none;"
     [style.left]="x + 'px'"
     [style.top]="y + 'px'"
     [style.width]="elementSize.width + 'px'"
     [style.height]="elementSize.height + 'px'">
    <div class="canvas-wrapper"
         [style.width]="elementSize.width - 2 + 'px'"
         [style.height]="elementSize.width - 2 + 'px'">
        <canvas #imageMagnifierCanvas
                style="object-fit: fill;"
                [width]="scaledImageSize"
                [height]="scaledImageSize"
                [style.width]="elementSize.width - 2 + 'px'"
                [style.height]="elementSize.width - 2 + 'px'"
                class="pixelated position-absolute"></canvas>
        <div class="magnifier-grid-wrapper position-relative"
             [style.width]="elementSize.width - 1 + 'px'"
             [style.height]="elementSize.width - 1 + 'px'">
            <div class="d-grid"
                 *ngIf="true"
                 [style.width]="elementSize.width - 1 + 'px'"
                 [style.height]="elementSize.width - 1 + 'px'"
                 [style.grid-template]="'repeat(' + scaledImageSize + ', 1fr) / repeat(' + scaledImageSize + ', 1fr)'">
                <div style="border: 1px solid #212121; margin: -1px 0 0 -1px;"
                     *appNgRepeat="scaledImageSize * scaledImageSize"></div>
            </div>
        </div>
        <div class="position-absolute" style="border: 1px solid #d50000;"
             [style.width]="currentPixelBorder.width + 'px'"
             [style.height]="currentPixelBorder.width + 'px'"
             [style.left]="currentPixelBorder.left + 'px'"
             [style.top]="currentPixelBorder.left + 'px'">
        </div>
    </div>
    <div class="d-flex align-items-center" style="height: 30px; margin-left: 7px; margin-right: 7px;" *ngIf="colorPickerImageService?.hoveredPixel">
        <div [style.backgroundColor]="colorPickerImageService.hoveredPixel!.hex"
             style="width: 15px; height: 15px; border: 1px solid #37474f;" class="shadow rounded"></div>
        <div class="text-light font-mono" style="font-size: 14px; margin-left: 5px;">
            {{ colorPickerImageService.hoveredPixel!.hex }}
        </div>
    </div>
</div>
