<div #imageCanvasWrapper class="image-canvas-wrapper"
     [class.h-100]="!colorPickerImageService.isImageLoaded"
     [class.d-flex]="!colorPickerImageService.isImageLoaded"
     [class.align-items-center]="!colorPickerImageService.isImageLoaded"
     [class.justify-content-center]="!colorPickerImageService.isImageLoaded">
    <canvas #imageCanvas
            [style.display]="colorPickerImageService.isImageLoaded ? 'block' : 'none'"
            class="image-canvas"
            [class.transparency-bg]="appSettings.colorPicker.transparencyBg"
            style="object-fit: contain; object-position: top;"
            [style.cursor]="isDragging ? 'grab' : 'crosshair'"
            (click)="canvasOnMouseClick($event)"
            (mousemove)="canvasOnMouseMove($event)"
            (mouseover)="canvasOnMouseOver($event)"
            (mouseout)="canvasOnMouseOut($event)"
            (mousedown)="canvasOnMouseDown($event)"
            (mouseup)="canvasOnMouseUp($event)">
    </canvas>
    <app-pixel-info-popup #appPixelInfoPopup
                          class="pixelated"
                          *ngIf="isMouseOverImage && !isDragging">
    </app-pixel-info-popup>
    <app-upload-image *ngIf="!colorPickerImageService.isImageLoaded"></app-upload-image>
</div>
