<div class="modal fade" id="upload-image-modal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content dark-element">
            <div class="modal-body">
                <app-upload-image></app-upload-image>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="settings-modal" tabindex="-1" aria-labelledby="settings-modal-label" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content dark-element">
            <div class="modal-header border-secondary">
                <h5 class="modal-title" id="settings-modal-label">Settings</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body border-secondary">
                <div class="settings-grid">
                    <div>
                        <div class="setting-label">Scaled image size</div>
                        <div class="setting-value">
                            <input type="number" min="3" max="99" step="2" class="dark-element form-control"
                                   [(ngModel)]="appSettings.magnifier.scaledImageSize">
                        </div>
                    </div>
                    <div>
                        <div class="setting-label">Magnifier width</div>
                        <div class="setting-value">
                            <input type="number" min="50" max="500" step="10" class="dark-element form-control"
                            [(ngModel)]="appSettings.magnifier.elementWidth">
                        </div>
                    </div>
                    <div>
                        <div class="setting-label">Color pixels size</div>
                        <div class="setting-value">
                            <input type="number" min="1" [max]="appSettings.magnifier.scaledImageSize" step="1" class="dark-element form-control"
                                   [(ngModel)]="appSettings.colorPicker.colorPixelsCount">
                        </div>
                    </div>
                    <div>
                        <div class="setting-label">Copy color automatically</div>
                        <div class="setting-value">
                            <select class="dark-element form-select"
                                    [(ngModel)]="appSettings.colorPicker.autoCopyColor">
                                <option [ngValue]="null">None</option>
                                <option [ngValue]="0">HEX</option>
                                <option [ngValue]="1">RGB</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="setting-label">Color mode</div>
                        <div class="setting-value">
                            <select class="dark-element form-select"
                                    [(ngModel)]="appSettings.colorPicker.colorMode">
                                <option [ngValue]="0">Auto</option>
                                <option [ngValue]="1">RGB</option>
                                <option [ngValue]="2">RGBA</option>
                            </select>
                        </div>
                    </div>
                    <div>
                        <div class="setting-label">Magnifier grid</div>
                        <div class="setting-value form-check">
                            <input id="is-grid-enabled-checkbox" type="checkbox" class="text-light form-check-input ms-0"
                                   [(ngModel)]="appSettings.magnifier.isGridEnabled">
                            <label for="is-grid-enabled-checkbox" class="form-check-label px-2">
                                Enable
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="setting-label">Invert image scrolling by dragging</div>
                        <div class="setting-value form-check">
                            <input id="invert-scrolling-checkbox" type="checkbox" class="text-light form-check-input ms-0"
                                   [(ngModel)]="appSettings.colorPicker.isInvertedDragScrolling">
                            <label for="invert-scrolling-checkbox" class="form-check-label px-2">
                                Enable
                            </label>
                        </div>
                    </div>
                    <div>
                        <div class="setting-label">Image scrolling speed</div>
                        <div class="setting-value">
                            <input type="number" min="0.25" max="30" step="0.25" class="dark-element form-control"
                                   [(ngModel)]="appSettings.colorPicker.dragScrollingSpeed">
                        </div>
                    </div>
                </div>
            </div>
<!--            <div class="modal-footer border-secondary">-->
<!--                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
<!--                <button type="button" class="btn btn-primary">Save changes</button>-->
<!--            </div>-->
        </div>
    </div>
</div>

<main class="flex-column flex-lg-row"
      [style.display]="colorPickerImageService.isImageLoaded ? 'flex' : 'none'">
    <app-sidebar></app-sidebar>
    <app-image-color-picker></app-image-color-picker>
</main>

<main class="justify-content-center align-items-center"
      [style.display]="colorPickerImageService.isImageLoaded ? 'none' : 'flex'">
    <app-upload-image></app-upload-image>
</main>
