<div class="sidebar-root-div d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center me-md-auto text-white text-decoration-none">
        <div class="bi me-2 material-icons unselectable site-icon">palette</div>
        <span class="fs-4">Color Picker</span>
    </a>
    <hr>
    <div class="nav nav-pills mb-auto d-flex flex-column">
        <div class="selected-pixel-info-wrapper flex-column">
            <app-color-view
                 [width]="60" [height]="60"
                 [color]="selectedPixelColor.hex">
            </app-color-view>
            <div class="mt-3">
                <label>
                    HEX
                    <input class="form-control dark-element" type="text" [value]="selectedPixelColor.hex" readonly>
                </label>
            </div>
            <div class="mt-3">
                <label>
                    RGB
                    <input class="form-control dark-element" type="text" [value]="selectedPixelColor.rgb" readonly>
                </label>
            </div>
        </div>
        <div class="selected-pixels-history-wrapper d-grid justify-content-start mt-2"
             style="grid-template: repeat(2, auto) / repeat(7, auto); margin-left: -0.25rem;"
             *ngIf="colorPickerImageService.selectedPixelsHistory.length > 0">
            <app-color-view *ngFor="let pixel of colorPickerImageService.selectedPixelsHistory.slice(0, 14)"
                            class="m-1"
                            [color]="pixel.hex"
                            [height]="30" [width]="30">
            </app-color-view>
        </div>
    </div>
    <hr>
    <div class="dropdown d-flex justify-content-between">
        <button type="button" class="flat-btn flat-btn-teal upload-image-modal-button d-flex align-items-center"
                data-bs-toggle="modal" data-bs-target="#upload-image-modal">
            <i class="material-icons-outlined unselectable me-2">file_download</i>
            Upload Image
        </button>
        <button type="button" class="flat-btn flat-btn-light unselectable material-icons-round"
                data-bs-toggle="modal" data-bs-target="#settings-modal">
            settings
        </button>
    </div>
</div>
