.sidebar-root-div {
    width: 100%;

    @media (min-width: 992px) {
        height: 100%;
        width: 300px;
    }
}

.site-icon {
    width: 40px;
    font-size: 30px;
    padding: 0 8px;
}

.upload-image-modal-button {
    font-size: 1.15rem;
}

.selected-pixels-history-wrapper {
    grid-template: repeat(3, auto) / repeat(7, auto);
    margin-left: -0.25rem;
}

.selected-pixel-info-wrapper {
    max-width: 100%;
}

.app-color-text-wrapper {
    flex-direction: column;

    @media screen and (min-width: 614px) {
        flex-direction: row;
        & app-color-text:first-of-type {
            margin-inline-end: 10px;
        }
    }

    @media screen and (min-width: 992px) {
        flex-direction: column;
    }
}
