.sidebar-root-div {
    width: 100%;

    @media (min-width: 992px) {
        height: 100%;
        width: 300px;
    }
}

.site-icon {
    width: 40px;
    font-size: 30px;
    padding: 0 8px;
}

.upload-image-modal-button {
    font-size: 1.15rem;
}

.selected-pixels-history-wrapper {
    grid-template: repeat(2, auto) / repeat(7, auto);
    margin-left: -0.25rem;
}

.selected-pixel-info-wrapper {
    max-width: 100%;
}
