<div class="sidebar-root-div d-flex flex-column flex-shrink-0 p-3 text-white bg-dark">
    <a href="/" class="d-flex align-items-center me-md-auto text-white text-decoration-none">
        <div class="bi me-2 material-icons unselectable site-icon">palette</div>
        <span class="fs-4">Color Picker</span>
    </a>
    <hr>
    <div class="nav nav-pills mb-auto d-flex flex-column">
        <div class="selected-pixel-info-wrapper flex-column">
            <app-color-view
                 [width]="60" [height]="60"
                 [color]="selectedPixelColor.hex">
            </app-color-view>
            <div class="app-color-text-wrapper d-flex flex-wrap">
                <app-color-text style="max-width: 100%;" elementClass="mt-3"
                                label="HEX:" [color]="selectedPixelColor.hex"></app-color-text>
                <app-color-text style="max-width: 100%;" elementClass="mt-3"
                                label="RGB:" [color]="selectedPixelColor.rgb"></app-color-text>
            </div>
        </div>
        <div class="selected-pixels-history-wrapper overflow-auto d-grid d-sm-flex d-lg-grid flex-wrap justify-content-start mt-3"
             style="max-width: 100%;"
             *ngIf="colorPickerImageService.selectedPixelsHistory.length > 0">
            <app-color-view *ngFor="let pixel of colorPickerImageService.selectedPixelsHistory.slice(0, 21)"
                            class="m-1"
                            style="cursor: pointer;"
                            [color]="pixel.color.getHex(colorMode)"
                            [height]="30" [width]="30"
                            (click)="onHistoryColorClick(pixel)">
            </app-color-view>
        </div>
    </div>
    <hr>
    <div class="dropdown d-flex justify-content-between">
        <button type="button" class="flat-btn flat-btn-teal upload-image-modal-button d-flex align-items-center"
                (click)="onUploadImageButtonClick()">
            <i class="material-icons-outlined unselectable me-2">file_download</i>
            Upload Image
        </button>
        <button type="button" class="flat-btn flat-btn-light unselectable material-icons-round"
                data-bs-toggle="modal" data-bs-target="#settings-modal">
            settings
        </button>
    </div>
</div>
