@import "~bootstrap";

html, body, main {
    min-height: 100%;

    @media (min-width: 992px) {
        height: 100%;
    }
}

.unselectable {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.dark-element {
    @extend .bg-dark;
    @extend .text-light;
    @extend .border-secondary;
}

.pixelated {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
}

.font-mono {
    font-family: "JetBrains Mono", "Consolas", monospace;
}

app-image-color-picker {
    width: calc(100% - 280px);
}
